@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Lato:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

.navbar {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px;
  margin-top: 10px;
  top: 0;
  z-index: 100;
  width: 90%;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
}

.navbar .middle_nav {
  flex: 1;
}
.navbar .middle_nav ul {
  list-style: none;
  justify-content: space-around;
}
.navbar .start_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.flex {
  display: flex;
  justify-content: flex-start;
}
.navbar .start_nav img {
  position: relative;
  top: -5px;
  width: 105px;
}
.navbar .start_nav img {
  margin: 0 25px;
}
.navbar .start_nav h5 {
  font-size: 15px;
}
.navbar .navbar__whitediv {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 14px;
  padding: 4px 15px;
}
li:hover {
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.button {
  position: relative;
  top: -5px;
  padding: 5px 15px;
  border-radius: 8px;
  margin: 0 5px;
}

.icon {
  display: flex;
  position: relative;
  top: -5px;
  left: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 35px;
}

.icon div {
  margin: 5px 10px;
}
